<?xml version="1.0"?>
<config>
    <modules>
        <Mext_Testimonials>
            <version>0.1.0</version>
        </Mext_Testimonials>
    </modules>
    <global>
        <models>
            <mext_testimonials>
                <class>Mext_Testimonials_Model</class>
                <resourceModel>mext_testimonials_resource</resourceModel>
            </mext_testimonials>
            <mext_testimonials_resource>
                <class>Mext_Testimonials_Model_Resource</class>
                <entities>
                    <testimonials>
                        <table>mext_testimonials</table>
                    </testimonials>
                </entities>
            </mext_testimonials_resource>
        </models>
        <resources>
            <testimonials_setup>
                <setup>
                    <module>Mext_Testimonials</module>
                    <class>Mext_Testimonials_Model_Resource_Setup</class>
                </setup>
            </testimonials_setup>
            <testimonials_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </testimonials_write>
            <testimonials_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </testimonials_read>
        </resources>
        <blocks>
            <testimonials>
                <class>Mext_Testimonials_Block</class>
            </testimonials>
        </blocks>
        <helpers>
            <testimonials>
                <class>Mext_Testimonials_Helper</class>
            </testimonials>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mext_testimonials before="Mage_Adminhtml">Mext_Testimonials_Adminhtml</mext_testimonials>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <mext_testimonials>
                <use>standard</use>
                <args>
                    <module>Mext_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </mext_testimonials>
        </routers>
        <layout>
            <updates>
                <mext_testimonials>
                    <file>mext/testimonials.xml</file>
                </mext_testimonials>
            </updates>
        </layout>
    </frontend>
</config>